<div class="filters">
  <button (click)="setFilter('burger')">
    <img
      src="https://www.pngkit.com/png/detail/136-1364944_hamburger-burger-food-junk-sandwich-beef-chicken-comments.png"
      alt="burger"
    >
  </button>
  <button (click)="setFilter('taco')">
    <img
      src="https://cdn-icons-png.flaticon.com/512/180/180610.png"
      alt="taco"
    >
  </button>
  <button (click)="setFilter('roll')">
    <img
      src="https://cdn-icons-png.flaticon.com/512/2619/2619534.png"
      alt="roll"
    >
  </button>
  <button (click)="setFilter('drink')">
    <img
      src="https://toppng.com/uploads/preview/file-drink-icon-115635077817qmdujji8r.png"
      alt="drink"
    >
  </button>
</div>
